<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.OrdersCustomMapper">
    <resultMap id="OrdersUserResultMap" type="org.spring.springboot.domain.Orders">
        <id column="id" property="id"/>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createTime"/>
        <result column="note" property="note"/>
        <association property="user" javaType="org.spring.springboot.domain.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>
    
    <resultMap type="org.spring.springboot.domain.Orders" id="ordersAndOrderDetailResultMap" extends="OrdersUserResultMap">
        <collection property="orderDetails" ofType="org.spring.springboot.domain.OrderDetail">
            <id column="orderdetail_id" property="id"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
            <result column="orders_id" property="ordersId"/>
        </collection>
    </resultMap>
    
    <resultMap id="userAndItemsResultMap" type="org.spring.springboot.domain.User">
        <id column="user_id" property="id"/>
        <result column="username" property="username"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <collection property="orderList" ofType="org.spring.springboot.domain.Orders">
            <id column="id" property="id"/>
            <result column="user_id" property="userid"/>
            <result column="number" property="number"/>
            <result column="createtime" property="createTime"/>
            <result column="note" property="note"/>
            <collection property="orderDetails" ofType="org.spring.springboot.domain.OrderDetail">
                <id column="orderdetail_id" property="id"/>
                <result column="items_id" property="itemsId"/>
                <result column="items_num" property="itemsNum"/>
                <result column="orders_id" property="ordersId"/>
                <association property="items" javaType="org.spring.springboot.domain.Items">
                    <id column="items_id" property="id"/>
                    <result column="items_name" property="itemsName"/>
                    <result column="items_detail" property="detail"/>
                    <result column="items_price" property="price"/>
                </association>
            </collection>
        </collection>
    </resultMap>
    
    <select id="findOrdersUser" resultType="org.spring.springboot.domain.OrdersCustom">
      SELECT t1.*,
        t2.username,
        t2.birthday,
        t2.sex,
        t2.address
      FROM orders t1,t_user t2
      WHERE t1.user_id = t2.id
    </select>
    
    <select id="findOrderUserResultMap" resultMap="OrdersUserResultMap">
         SELECT t1.*,
        t2.username,
        t2.birthday,
        t2.sex,
        t2.address
      FROM orders t1,t_user t2
      WHERE t1.user_id = t2.id
    </select>
    
    <select id="findOrdersAndOrderDetailResultMap" resultMap="ordersAndOrderDetailResultMap">
        SELECT
	      t1.*, t2.username,
	      t2.sex,
	      t2.address,
          t3.id orderdetail_id,
          t3.items_id,
          t3.items_num,
          t3.orders_id
        FROM
            orders t1,
            t_user t2,
            orderdetail t3
        WHERE
	      t1.user_id = t2.id
        AND t3.orders_id = t1.id
    </select>
    
    <select id="findUserAndItemsResultMap" resultMap="userAndItemsResultMap">
        SELECT
                   t1.*,
                   t2.username,
                   t2.sex,
                   t2.address,
                   t3.id orderdetail_id,
                   t3.items_id,
                   t3.items_num,
                   t3.orders_id,
                   t4.itemsname items_name,
                   t4.detail items_detail,
                   t4.price items_price
            FROM
                  orders t1,
                  t_user t2,
                  orderdetail t3,
                  items t4
            WHERE t1.user_id =  t2.id AND  t3.orders_id=t1.id AND t3.items_id = t4.id
    </select>
</mapper>